body {
	background-color: antiquewhite;
}
.card {
	height: 200px;
	width: 200px;
	background-color: aqua;
	/* forma corta */
	border-color: black;
	border-style: solid;
	border-width: 10px 5px 20px 5px;
	border-radius: 10% 0 10% 0;
	padding: 10px 5px;
	box-sizing: border-box;
	margin: 80px;
	margin: auto;
}

.radius {
	width: 100px;
	height: 100px;
	background-color: royalblue;
	border-radius: 50%;
}
